name: Generate version file

on:
  pull_request:
    branches:
      - main
      - 'releases/**'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    environment:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v3
    - run: |
          generate-version-file.sh
      
